.nav-link:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.background {
  background-color: #e1e0e0;
}
.content {
  margin-top: 70px;
}
.search {
  margin-left: 785px;
}
.tbl {
  margin: auto;
  width: 100%;
}
