.nav-link:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.background {
  background-color: #e1e0e0;
}
.content {
  margin-top: 70px;
}
.search {
  margin-left: 785px;
}
.tbl {
  margin: auto;
  width: 100%;
}
.action-edit {
  margin-left: 2px;
  background-color: #fe5757;
}
.action-del {
  background-color: #755cff;
  color: #fff;
}
.stock,
.desc,
.btn {
  margin-left: 100px;
}
.btn {
  margin-top: 23px;
}
textarea {
  resize: none;
}
.price {
  margin-top: 15px;
}
h5 {
  margin-top: 5px;
}
